.form{
    display: block;
    margin-top: 100px;
    background-color: grey;
    @media screen and (min-width:768px) {
        width: 40%;
        margin: 0 auto;
        margin-top: 100px;
    }
    &__inputWrap{
        width: 100%;
        text-align: center;
        
    }
    &__input{
        width: 80%;
        height: 8vh;
        margin: 5px;
        margin-bottom:0px
    }
    &__label{
        width: 100%;
    }
    &__error{
        color:white;
        background-color: rgb(185, 22, 22);
        width: 80%;
        margin: 0 auto;
        
       
        &--message{
            margin-top: -5px;
            margin-bottom: 10px;
        }
    }
   
    &__submit{
        width: 80%;
        height: 8vh;
        background-color: rgb(185, 22, 22);
        border: none;
        margin-bottom: 20px;

    }
    &__submitmessage{
        padding-top: 100px;
        font-size: 30px;
        color: white;
        text-align: center;
        padding-bottom: 50px;
    }

    
}