.pokemon{
    width: 100%;
    display: block;
    background-color: red;
    padding: 20px;
    &__wrapper{
        background-color: grey;
        padding: 10px;
        text-align: center;
    }
    &__container{
        height: 100px;
        background-color:darkgrey;
        display: inline-flex;
        width: 30%;
        margin: 5px;
    }
    &__image{
        padding: 10px;
        display: inline-block;
        &--size{
            width: 50px;
            height: 80px;
        }
    }
    &__info{
        display: inline-flex;
    
    }

}
.selection{
    padding-top: 50px;
    width: 100%;
    height: 50vh;
    display: block;
    text-align: center;
    &__type{
        text-align: center;
        width: 40%;
        display: inline-flex;
        background-color: blue;
        text-decoration-color: red;
        border: 1px solid lightblue;
        border-radius: 4px;
        margin: 3px;

    }
}